<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @favorite.user_id %>
</p>

<p>
  <b>Favorite:</b>
  <%= @favorite.favorite_id %>
</p>

<p>
  <b>Favorable type:</b>
  <%= @favorite.favorable_type %>
</p>


<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Back', favorites_path %>
