<%= form_for(@admin_title) do |f| %>
<% if @admin_title.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@admin_title.errors.count, "error") %> prohibited this new information from being saved:</h2>

    <ul>
    <% @admin_title.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div id="element-box">
  <div class="m">
    <div class="fltlft">
      <div class="field">
        <span class="star">*</span><%= f.label :name %>
        <%= f.text_field :name, :class=>"input_text" %>
      </div>
      <% if current_user.is_super_admin? %>
    	<div class="field">
  	    <span class="star">*</span><%= f.label :hospital_id, "Hospital Name" %>
     	  <%= f.collection_select :hospital_id,Admin::Hospital.all,:id,:name,{:prompt => true}, {:class=>"select_text"} %>
    	</div>
    	<% else %>
    	<%= f.hidden_field "hospital_id", :value => current_user.hospital_id %>
      <% end %>
      <div class="actions hidden">
        <%= hidden_field_tag "save_method", "", :value=>"apply" %>
        <%= f.submit %>
      </div>
    </div>
  </div>
</div>
<% end %>
