<%= form_for @expire_setting,:url => admin_expire_settings_message_url(@expire_setting),:html => {:method => 'put'},:remote => true do |f| %>
	<div id="ex_error">
		<%= render :partial => "error_messages", :object => @expire_setting %> 
	</div>

 <div id="element-box">
  <div class="m">
    <div class="fltlft">
      <div class="field">
        <span class="star">*</span><%= label_tag "Expire Settings" %>
        <%= f.radio_button(:flag,1,{:onclick =>"$('#expire_setting_div').show();" })%> On
        <%= f.radio_button(:flag,0,{:onclick =>"$('#expire_setting_div').hide();" })%> Off
      </div>
      <div class="field">
	    <%(@expire_setting.flag == "0")?(style_dis = "display:none"):(style_dis = "display:block") %>
       <div id="expire_setting_div" style="<%= style_dis%>">
        Select Hour to expire the message
        <div id="slider"></div>
      </div>
      </div>
      <div class="field">
        <span class="star">*</span><%= label_tag "Hour Limit" %>
         <%= f.text_field "lifespan_hours",:style=>"border:0; color:#f6931f; font-weight:bold;" %> 
      </div>
      <div class="field">
	      <button type="submit" class="bluebtn" id="expire_settings_message_submit">Submit</button>
      </div>
    </div>
  </div>
</div>
<%end%>
<script>
	$(function sliddis() {
		$( "#slider" ).slider({
			value:<%= @expire_setting.lifespan_hours %>,
			min: 0,
			max: 50,
			step: 1,
			slide: function( event, ui ) {
				$( "#expire_settings_message_lifespan_hours" ).val( ui.value);
			}
		});
		$( "#expire_settings_message_lifespan_hours" ).val($( "#slider" ).slider( "value" ));
	});
</script>
